<?xml version="1.0." encoding="utf-8"?>

<configuration>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<packageSources>
		<add key="index-0" value="http://nuget.index-0.com/nuget" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
	<config>
		<add key="defaultPushSource" value="http://nuget.index-0.com/nuget" />
	</config>
	<packageRestore>
		<add key="enabled" value="True" />
	</packageRestore>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
</configuration>